ncmpcpp_directory = "~/.ncmpcpp"
mpd_host = "localhost"
mpd_port = "6600"
mpd_music_dir = "/home/Music/Music"
audio_output {
        type            "fifo"
        name            "My FIFO"
        path            "/.mpd/mpd.conf"
        format          "44100:16:1"
visualizer_fifo_path = "/tmp/mpd.fifo"
visualizer_output_name = "trip"
visualizer_sync_interval = "60"
visualizer_in_stereo = "no"
visualizer_type = "wave"
#᷏
visualizer_look ="ⱺⱺ"
song_list_format = " {%22a$7}{%25t$8}
alternative_header_second_line_format = " "
s#ong_window_title_format = "{%a - }{%t}|{%f}"
- color is optional (if you want the default one, type [])
song_columns_list_format = "(33)[white]{ar} (33)[blue]{br} (34)[red]{t|f}"
playlist_show_remaining_time = "no"
playlist_display_mode = "columns" (classic/columns)
playlist_editor_display_mode = "columns" (classic/columns)
seek_time = "5"
progressbar_look = "‧‧"
user_interface = "alternative" (classic/alternative)
statusbar_visibility = "yes"
cyclic_scrolling = "yes"
show_hidden_files_in_local_browser = "yes"
locked_screen_width_part = "50"
jump_to_now_playing_song_at_start = "yes"
clock_display_seconds = "yes"
display_volume_level = "yes"
display_bitrate = "yes"
regular_expressions = "extended" (basic/extended)
mouse_support = "no"
mouse_list_scroll_whole_page = "no"
empty_tag_marker = "<n/a>"
tag_editor_extended_numeration = "yes"
colors_enabled = "yes"
header_window_color = "white"
state_line_color = "white"
state_flags_color = "white"
main_window_color = "white"
color1 = "white"
color2 = "green"
main_window_highlight_color = "white"
statusbar_color = "red"
alternative_ui_separator_color = "blue"
visualizer_color =  "red"
window_border_color = "blue"
active_window_border = "red"
